body {
    font-family: 'Proxima Nova', sans-serif;
    min-width: 1200px;
}
* {
    margin:0;
    padding: 0;
}
a {
    text-decoration: none;
}
header {
	height:90px;
}
/*______БОКОВОЕ_МЕНЮ______*/
.menu {
	display: none;
	position: absolute;
	right:0;
	/*top:0;*/
	width: 437px;
	height:100%;
	background-color:white;
	z-index: 1;
	/*overflow-y: auto;*/
	overflow-x: hidden;
}

.menu__container{
	height:880px;/*Размер меню*/
}

.menu__container--button-close {
	width: 75px;
	height: 75px;
	position: absolute;
	/*margin:0;
	padding:0;*/
	border:none;
	outline:none;
	cursor:pointer;
	/*top:0;*/
	right: 0;
	background-color: #273238;
}

.menu__container--search{
	display:flex;
	left:0;
	top:0;
}
input[name="search-menu"] {
	/*left:0;*/
	/*top:0;*/
	position: absolute;
	font-size: 16px;
	/*font-weight: 400;*/
	width: 362px;
	height: 75px;
	background-color:#eaf3f7;
	color:#c7c7c7;
	border: none;
	/*text-align: left;*/
	outline: none;
	padding-left:75px;
}
input[name="search-menu"]::-webkit-search-cancel-button {
    display: none;
}
input[type=image] {
	left:0;
	/*top:0;*/
	position: absolute;
	width: 15px;
	height: 15px;
	border: none;
	background-color: #eaf3f7;
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
	z-index: 1;
	outline:none;
}

ul.menu__container--list{
	position: absolute;
	/*left: 0px;*/
	top:75px;
	/*width: 437px;*/
	/*list-style: none;*/
}
.menu__container--list li{
	transition-duration: 500ms;
	width:437px;
	height: 75px;
	border-bottom: 1px solid #f1f1f1;
}
.menu__container--list li::after{
	content:'';
	position: absolute;
	display: block;
    width: 19px;
    height: 12px;
	top:35px;
	left:360px;
}
.menu__container--list li:first-child:after{
	background:url(img/strelka.svg) center no-repeat;
}
.menu__container--list li:nth-child(5):after{
	background:url(img/strelka.svg) center no-repeat;
	top:340px;
}
.menu__container--list li:hover{
	background: #f1f1f1;
	border-bottom: 1px solid white;
}
.menu__container--list li > a{
	position: relative; /*Отображение ссылок прямопропорционально их элементам списка*/
}
.menu__container--list a{
	display: block; /*Cсылка это блок элемента списка*/
	height: 75px;
	width:100%;
}
.menu__container--list a > p{
	font-size:22px;
	font-weight: 600;
	color:black;
	position: absolute;
	left:42px;
	top:28px;
}

.menu__container--number{
	position: absolute;
	top:570px;
	left:45px;
	font-size:24px;
	font-weight: 600;
	/*color:black;*/
}

.menu__container--button-call a{
	display: block;
	border-radius: 50px;
	position: absolute;
	top:610px; 
	left:40px;
	padding:8px 30px;
	border:1px solid #29b6f6;
	font-size: 15px;
	/*font-weight: 400;*/
	color:#29b6f6;
	transition-duration: 250ms;
}
.menu__container--button-call a:hover {
	border:1px solid white;
	background: #29b6f6;
	color:white;
}

.menu__container--address{
	font-size: 16px;
	/*font-weight: 400;*/
	position: absolute;
	left:42px;
	top:680px;
	color:#56677d;
}

ul.menu__container--list1{
	position: absolute;
	left:42px;
	top:745px;
	list-style: none;
	display:flex;
}
.menu__container--list1 li{
	margin-right:15px;
}
.menu__container--list1 li:last-child{
	margin-right:0px;
}
.menu__container--list1 a{
	background:#eceff1;
	/*border:none;*/
	display: block;
    width:44px;
    height:44px;
	border-radius: 50px;
	transition-duration: 500ms;
}
.menu__container--list1 path{
	transition-duration: 500ms;
}
.menu__container--list1 li:first-child:hover a{
	background:#4680c2;
}
.menu__container--list1 li:nth-child(2):hover a{
	background:#3d5a98;
}
.menu__container--list1 li:nth-child(3):hover a{
	background:#f7931e;
}
.menu__container--list1 li:last-child:hover a{
	background:#29b6f6;
}
.menu__container--list1 li:hover path{
	fill:white;
}
/*______HEADER______*/
.top__container {
    background: url(img/top_slide-min.jpg) center no-repeat;
    max-width: 100%;
    height:840px;
    box-sizing: border-box;/*???*/
}
/*____Облака_на_Главном_Фоне___
.top__container::before {
  content: "";
  position: absolute;
  top: 0; 
  left:0;
  width: 100%; 
  height: 800px;  
  opacity: 0.4; 
  z-index: 1;
  background: url(img/cloud-1.png) top no-repeat;
  background-size:60%;
  background-position-y:100%;
  background-position-x:120%;
}
.top__container::after {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 800px;   
  opacity: 0.4; 
  z-index: 1;
  background: url(img/cloud-2.png) top no-repeat;
  background-size:40%;
  background-position-y:0%;
  background-position-x:-10%;
}
___________________*/
.header__container {
	padding:32px 50px;
	display:flex;
	justify-content: space-between;
}
.header__container-logo {
	color:white;
	display:flex;
}
.header__container-logo--title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 24px;
}
.header__container-logo--text {
	margin-left:30px;
	width:133px;
	/*font-weight: 400;*/
	font-size: 12px;
}
.header__container-menu {
	display: flex;
}
.header__container-menu a{
	height: 20px;
	margin-right: 38px;
	color:white;
	font-weight: normal;
	font-size: 16px;
}
.header__container-menu a:last-child {
	margin-right:0px;
}
.header__container-menu a:hover {
	color:#ebebeb;
	transition-duration: 1s;
}
/*________КНОПКИ_МЕНЮ_______*/
.header__container-menu--button {

}
.header__container-menu--onclick{
	filter: brightness(0.5);
}
.onclick-scroll--RIP{
	overflow: hidden;
}
/*_______"SVG"________*/
.blocks {
	width:24px;
	position:relative;
	display: block;
}
.block1 {
	width:24px;
	height:3px;
	border-radius:1px;
	background:white;
	margin-bottom: 4px;
}
.block2 {
	width:24px;
	height:3px;
	border-radius:1px;
	background:white;
	margin-bottom: 4px;
}
.block3 {
	width:24px;
	height:3px;
	border-radius:1px;
	background:white;
}
/*_______ГЛАВНАЯ_HEADER________*/
.top__description {
	padding-top:180px;
	width:65%;
	margin: 5px auto;
	padding-bottom:240px;
}
.top__description :nth-child(2){
	padding-bottom:25px;
}
.top__description--title h1{
	display: inline;
	font-size: 90px;
	font-weight: 800;
	color:white;
}
.top__description--text p{
	padding-left: 5px;
	font-size: 24px;
	font-weight: normal;
	color:white;
}
.top__button {
	width:270px;
	height: 55px;
	font-size: 18px;
	color:white;
	font-weight: bold;
	background-color:#ff1744;
	border:none;
	border-radius:50px;
	cursor: pointer;
	transition-duration: 500ms;
}
.top__button:hover{
	background-color:#fd335a;
}
.top__button:active{
	background-color:#dc0932;
}
.top__end {
	background: url(img/top_end.png) top repeat;
	background-size: 1920px;
	height: 60px;
}
/*________MAIN_______*/
main{
	height: 4430px;
}
.main__container {
	background-color:#263238;
	height: 340px;
}
/*________ПОИСК_______*/
.main__search {
	padding-top:50px;
	margin: 0 auto;
	width:880px;
	padding-bottom: 50px;
}

.main__search--text {
	display: inline;
	font-size: 26px;
	font-weight: bold;
	color:white;
}
.main__search--lineup{
	display:none;
	width: 200px;
	height: 45px;
	border-radius: 50px;
	background-color:#29b6f6;
	color:#ffffff;
	font-size: 15px;
	font-weight: 400;
	border:none;
	margin-top:25px;
}
.main__search--button-more {
	margin-left:35px;
	font-size: 14px;
	color:#a5b1b6;
	font-weight: 400;
	background-color:#263238;
	border:none;
	border-bottom: 1.4px dotted #a5b1b6;
	cursor: pointer;
	outline:none;
}
.main__search--button-more:active{
	border:none;
}
.main__searchContainer{
	padding-top:20px;
	margin:0;
}
.main__searchContainer label
{
  cursor:pointer;
  font-size:12px;
  text-transform: uppercase;
  color: #777;
  position:absolute;
  padding: 8px 20px 0 20px;
}
.main__searchContainer-select {
	cursor:pointer;
	-webkit-appearance: none;
  	-moz-appearance: none;
 	appearance: none;
 	width: 160px;
 	height: 55px;
 	background-color:#ffffff;
 	color:#333333;
 	font-weight: bold;
 	font-size: 16px;
 	padding:20px 20px 0 20px;
 	outline:none;
 	border:1px solid #dddddd;
 	margin-left:-5px;
 	text-overflow: ellipsis;
 	overflow: hidden;
}
.main__searchContainer-select > option {
	width:50px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: normal;
}
.main__searchContainer-select--firstSelect {
	margin-left:0px;
}
.main__searchContainer-select--fourSelect {
	width: 88px;
}
.main__searchContainer-select--fifthSelect {
	width: 150px;
}
.main__searchContainer--link{
	outline:none;
}
.main__searchContainer--search {
	top: -10px;
	position: relative;
	border:none;
	width: 164px;
 	height: 55px;
 	color:white;
 	font-size:14px;
 	font-weight:bold;
 	background-color:#29b6f6;
 	margin-left:-4px;
 	cursor: pointer;
 	outline: none;
 	transition-duration: 500ms;
}
.main__searchContainer--search:hover {
	background-color:#ffa300;
	text-transform: uppercase;
}
/*________НАПРАВЛЕНИЯ_______*/
.main__direction{
	width: 1110px;
	margin: 0 auto;
}
.main__direction-container {
	display:flex;
	flex-wrap: wrap;
	margin-bottom: 65px;
}
.main__direction--all{
	
}
.main__direction--all h2, p{
	color:white;
	z-index:3;
	position: relative;
}
.main__direction--all h2{
	padding-left:50px;
	font-size: 36px;
	font-weight: bold;
	padding-top:40px; 
}
.main__direction--all p{
	font-size: 16px;
	font-weight: 400;
	padding-left:50px;
	/*padding-top:40px;*/ 
	transition-duration: 500ms;
}
.main__direction--first{
	width: 730px;
	height: 363px;
	margin-right: 30px;
	margin-bottom: 30px;
}
.main__direction--all a{
	display:none;
	position:absolute;
  	color: #ffffff;
  	border-radius: 50px;
  	border:1px solid #ffffff;
	z-index:3;
	font-size: 15px;
	font-weight: 400;
	padding:7px 30px 7px 10px;
	bottom:40px;
	left:42px;
	transition-duration: 500ms;
}
.main__direction--all a::after{
	content: '';
	background: url(img/galka.svg) center no-repeat;
	background-size: cover;
	width: 6px;
	height: 9px;
	position: absolute;
	right:14px;
	top:12px;
	transition-duration: 500ms;
}
.main__direction-container--dop > div.main__direction--all{
	position:relative;
}
.main__direction-container > div.main__direction--all{
	position:relative;
}
.main__direction--first::before{
	content: '';
	background: url(img/china.jpg) center no-repeat;
	background-size: cover;
	width: 730px;
	height: 363px;
	position: absolute;
	filter: brightness(0.9);
	transition-duration: 500ms;
}
.main__direction--second{
	width: 350px;
	height: 363px;
}
.main__direction--second::before{
	content: '';
	background: url(img/vietnam.jpg) no-repeat;
	background-size: 250%;
	background-position-y:center;
	background-position-x:15%;
	width: 350px;
	height: 363px;
	position: absolute;
	filter: brightness(0.9);
	transition-duration: 500ms;
}
.main__direction-container--dop {
	display:block;
}
.main__direction--dopFirst{
	width: 350px;
	height: 166px;
	margin-right: 30px;
	margin-bottom: 30px;
}
.main__direction--dopFirst::before{
	content: '';
	background: url(img/philipins.jpg) center no-repeat;
	background-size: cover;
	width: 350px;
	height: 166px;
	position: absolute;
	filter: brightness(0.9);
	transition-duration: 500ms;
}
.main__direction--dopSecond{
	background: url(img/bali.jpg) center no-repeat;
	background-size: cover;
	width: 350px;
	height: 166px;
}
.main__direction--dopSecond::before{
	content: '';
	background: url(img/bali.jpg) center no-repeat;
	background-size: cover;
	width: 350px;
	height: 166px;
	position: absolute;
	filter: brightness(0.9);
	transition-duration: 500ms;
}
.main__direction--third{
	width: 350px;
	height: 360px;
	margin-right: 30px;
}
.main__direction--third::before{
	content: '';
	background: url(img/turcia.jpg) center no-repeat;
	background-size: cover;
	width: 350px;
	height: 360px;
	position: absolute;
	filter: brightness(0.9);
	transition-duration: 500ms;
}
.main__direction--four{
	width: 350px;
	height: 360px;
}
.main__direction--four::before{
	content: '';
	background: url(img/tailand.jpg) center no-repeat;
	background-size: cover;
	width: 350px;
	height: 360px;
	position: absolute;
	filter: brightness(0.9);
	transition-duration: 500ms;
}
.main__direction--all:hover:before{
	filter: brightness(0.7);
	transition-duration: 500ms;
}
.main__direction--all:hover p{
	filter: brightness(0.7);
	transition-duration: 500ms;
}

.main__type-news-container{
	background:url(img/background-type.png) top no-repeat;
	background-size: 200%;
	height: 575px;
}
/*________ТИПЫ_ТУРОВ_______*/
.main__direction--type{
	list-style: none;
	display: flex;
	width: 1000px;
	margin: 0 auto;
	padding-bottom: 60px;
}
.main__direction--type li{
	margin-right:100px;
	padding-left:70px;
} 
.main__direction--type a {
	white-space: pre-line;
	font-size: 16px;
	font-weight: 600;
	color:#323232;
	border-bottom:1px solid #bec3c6;
}
.main__direction--type a:hover{
	border-bottom:1px solid #323232;
	filter:brightness(1.6);
}
.main__direction--type li::before{
	content: '';
	background: url(img/type-vacation.svg) no-repeat;
	background-size: cover;
	width: 50px;
	height: 40px;
	position: absolute;
	left:0px;
}
ul.main__direction--type > li{
	position: relative;
}
.main__direction--type li:nth-child(2):before{
	background-position-x:32%;	
}
.main__direction--type li:nth-child(3):before{
	background-position-x:64%;	
}
.main__direction--type li:nth-child(4):before{
	background-position-x:100%;	
}
/*________НОВОСТИ_______*/
.main__news{
	width: 1110px;
	margin: 0 auto;
	height: 400px;
}
.main__news-head{
	display:flex;
	justify-content: space-between;
}
.main__news-head-container{
	display:flex;
}
.main__news-head-container h1{
	font-size: 36px;
	font-weight: bold;
}
.main__news-head-container--buttons{
	margin-top:15px;
	margin-left:25px;
}
.main__news-swiper--but{
	border-radius:60px;
	padding:8px 13px;
	border:2px solid #29b6f6;
	margin-right: 10px;
	outline: none;
}
.main__news-swiper--but1{
	padding:8px 15px;
}
.main__news-swiper--all{
	vertical-align: center;
	border-radius:50px;
	padding:10px 30px 0px 30px;
	height: 28px;
	border:1px solid #29b6f6;
	color:#29b6f6;
	font-size:15px;
	line-height: 15px;
	font-weight: 400;
}
div.main__news--slide{
	display:block;
	width: 350px;
	height: 320px;
	background:#ffffff;
	margin-top:30px;
	box-shadow: 0px 0px 30px -15px rgba(0,0,0,0.5);;
}
.main__news--slide-img{
	width: 350px;
	height: 150px;
	transition-duration: 1s;
}
.main__news--slide:hover .main__news--slide-img{
	height: 0px;
}
.main__news--slide-img1{
	background:url(img/new-1.jpg) center no-repeat;
}
.main__news--slide-img2{
	background:url(img/new-2.jpg) center no-repeat;
}
.main__news--slide-data{
	position: absolute;
	margin-left:40px;
	margin-top:30px;
	padding:5px 25px;
	font-size:13px;
	font-weight: 400;
	color:#8f999e;
	border-radius: 50px;
	background-color:#eff5fa;
}
.main__news--slide h4{
	width:270px;
	margin-left:40px;
	margin-top:70px;
	position: absolute;
	color:black;
	font-size: 18px;
	font-weight: 700;
}
.main__news--slide p{
	width:270px;
	padding-left:40px;
	margin-top:140px;
	position: absolute;
	color:#7c90a9;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
}
.main__news--slide:nth-child(3) .main__news--slide-data{
	margin-top:40px;
}
.main__news--slide:nth-child(3) h4{
	margin-top:90px;
}
.main__news--slide:nth-child(3) p{
	margin-top:150px;
}
/*________БОНУСНАЯ_ПРОГРАММА_______*/
.main__bonus-program{

}
.main__bonus-program::before{
	content: '';
	left:0;
	background: url(img/bonus.jpg);	
	background-attachment: fixed;
	position: absolute;
	filter:brightness(0.4);
	background-size: cover;
	width: 100%;
	height: 410px;
	z-index:-1;
}
.main__bonus-program-container{
	width: 1110px;
	margin: 0 auto;
	height:410px;
	display:flex;
}
.main__bonus-program--description{
	padding-top:100px; 
	width:650px;
	height: 200px;
	display:block;
}
.main__bonus-program--description h2{
	font-size:36px;
	font-weight: bold;
	color:#ffffff;
}
.main__bonus-program--description p{
	width:520px;
	margin-top:25px;
	font-size:18px;
	font-weight: 300;
	color:#ffffff;
	padding-left:0;
}
.main__bonus-program--hr{
	margin-top:25px;
	width: 58px;
	height: 3px;
	background-color:#29b6f6;
	border:none;
}
.main__bonus-program--button{
	position: absolute;
	margin-top:30px;
	border-radius:50px;
	padding:8px 40px 8px 20px;
	border:1px solid #29b6f6;
	color:#29b6f6;
	font-size:15px;
	font-weight: 400;
}
.main__bonus-program--button::after{
	content: '';
	background: url(img/galkab.svg) center no-repeat;
	background-size: cover;
	width: 6px;
	height: 9px;
	position: absolute;
	right:14px;
	top:12px;
}
.main__bonus-program--number{
	background: url(img/bonus.jpg);
	background-attachment: fixed;
  	background-size: cover;
  	-webkit-background-clip:text;
  	-webkit-text-fill-color: transparent;
  	color:yellow;
}
.main__bonus-program--amount{
	padding-top:100px; 
	width:470px;
	height: 200px;
	display:block;
	text-align: center;
}
.main__bonus-program--amount p{
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 400;
	padding-left:0;
}
.main__bonus-program h1{
	letter-spacing: -5px;
	font-size: 122px;
	/*color: #000;
  	background: #fff;
  	mix-blend-mode: lighten;*/
}
/*________РОССИЙСКИЕ_ТУРЫ_______*/
.main__russian-place{
	background:url(img/background-type.png) top no-repeat;
	width:100%;
	height: 1254px;
	background-size: cover; /*ВРЕМЕННО*/
	overflow: hidden;
}
.main__russian-place-container{
	width: 1110px;
	margin: 0 auto;
	height:1254px;
}
.main__russian-place--head{
	margin-top: 75px;
	display:flex;
}
.main__russian-place--head h1{
	font-size: 36px;
	font-weight: bold;
}
.main__russian-place--buttons{
	margin-left:25px;
	margin-top:10px;
}
.main__russian-place-container p{
	font-size: 18px;
	font-weight: 400;
	color:#687379;
	padding-left: 0px;/*----------------*/
}
.main__russian-place--slider{
	margin-top:50px;
	overflow:visible !important;
	width: 100%;
}
.main__russian-place--slide{
	width:350px !important;
	height: 420px !important;
	background-color: white;
}
.main__russian-place--slide-img{
	width: 350px;
	height: 420px;
}
.main__russian-place--slide-bottom{
	background:url(img/slide-bottom.png) top no-repeat;
	background-size: cover;
	background-position-y:-40%;
	width: 100%;
	height: 50%;
	position: absolute;
	padding-bottom:0px;
	bottom:0px;
	transition-duration: 1s;
}
.main__russian-place--white-box{
	position:absolute;
	z-index: 1;
	width: 100%;
	height: 30%;
	background-color: white;
	bottom:0;
	transition-duration: 1s;
}
.main__russian-place--slide h3{
	position:relative;
	z-index: 2;
	margin-top:83px;
	padding-left:40px;
	padding-top:30px;
	font-size: 26px;
	font-weight: bold;
	color:black;
	transition-duration: 1s;
}
.main__russian-place--slide p{
	position:relative;
	z-index: 2;
	padding-left:40px;
	padding-top:5px;
	padding-bottom:40px;
	font-size: 16px;
	font-weight: 400;
	color:#687379;
}
.main__russian-place--slide-img1{
	background:url(img/crime1.jpg) center no-repeat;
	background-size: cover;
	background-position-x:right;
}
.main__russian-place--slide-img2{
	background:url(img/saint-peter1.jpg) center no-repeat;
	background-size: cover;
	background-position-x:right;
}
.main__russian-place--slide-img3{
	background:url(img/moscow1.jpg) center no-repeat;
	background-size: cover;
	background-position-x:center;
}
.main__russian-place--slide:hover .main__russian-place--slide-bottom{
	background-position-y:0%;
	transition-duration: 1s;
}
.main__russian-place--slide:hover h3{
	color:white;
	transition-duration: 1s;
}
.main__russian-place--slide:hover .main__russian-place--white-box{
	height: 0%;
	transition-duration: 1s;
}
/*________ФУНКЦИОНАЛ_______*/
.main__functions-rusplace-container{
	margin-top:90px;
}
.main__functions-rusplace--blocks{
	display: flex;
	margin-top:50px;
}
.main__functions-rusplace--block{
	width:350px;
	height: 270px;
	background-color: white;
	margin-right:30px;
}
.main__functions-rusplace--block:nth-child(3){
	margin-right:0px;
}
.main__functions-rusplace--block-inside{
	width:72%;
	height: 67%;
	margin-top: 40px;
	margin-left:50px;
}
.main__functions-rusplace--block h3{
	padding-top:25px;
	font-size: 22px;
	font-weight: bold;
}
.main__functions-rusplace--block p{
	padding-top:15px;
	font-size: 16px;
	font-weight: 400;
	color:#67808c;
}
.main__functions-rusplace-button{
	text-align: center;
}
.main__functions-rusplace--button{
	margin-top:50px;
	border-radius: 50px;
	background-color:#29b6f6;
	color:white;
	width: 220px;
	height: 57px;
	border:none;
	font-size: 17px;
	font-weight: bold;
	cursor: pointer;
}
/*________ГОРЯЧЕИ_ПРЕДЛОЖЕНИЯ_______*/
.main__hot-offer{
	background-color:#263238;
	height: 700px;
	overflow: hidden;
}
.main__hot-offer-container {
	width:1110px;
	margin: 0 auto;
	height:700px;
}
.main__hot-offer-head{
	display: flex;
	margin-top:75px;
	justify-content: space-between;
}
.main__hot-offer-head h1{
	font-size: 36px;
	font-weight: bold;
	color:white;
}
.main__hot-offer-head-container{
	display: flex;
}
.main__hot-offer-head-container--buttons{
	margin-left: 30px;
	margin-top:10px;
}
.main__hot-offer-swiper--next, .main__hot-offer-swiper--prev{
	border-color: #546e7a;
}
.main__hot-offer-swiper--all{
	vertical-align: center;
	border-radius:50px;
	padding:10px 20px 0px 20px;
	height: 28px;
	border:1px solid #546e7a;
	color:#546e7a;
	font-size:15px;
	line-height: 15px;
	font-weight: 400;
}

.main__hot-offer--slider{
	margin-top:50px;
	overflow:visible !important;
	width: 100%;
}
.main__hot-offer--slide{
	width: 350px !important;
	height: 420px;
}
.main__hot-offer--slide-img{
	width: 350px;
	height: 230px;
}
.main__hot-offer--slide-img1{
	background:url(img/nachanga.jpg) center no-repeat;
	background-size: cover;
}
.main__hot-offer--slide-img2{
	background:url(img/dybai.jpg) center no-repeat;
	background-size: cover;
}
.main__hot-offer--slide-img3{
	background:url(img/sania.jpg) center no-repeat;
	background-size: cover;
}
.main__hot-offer--hot-price{
	position: absolute;
	right:15px;
	top:20px;
	background-color:#fe3716;
	color:white;
	border-radius: 50px;
	width:110px;
	height: 22px;
	font-size: 13px;
	text-align: center;
	line-height: 22px;
}
.main__hot-offer--slide-bottom{
	position: relative;
	width: 100%;
	height: 190px;
	background-color:#37474f;
}
.main__hot-offer--slide-bottom1{
	padding-top:30px;
	padding-left:30px;
	padding-bottom: 20px;
	border-bottom: 0.5px solid #455a64;
}
.main__hot-offer--slide-bottom1-city{
	display: flex;
}
.main__hot-offer--slide-bottom1 h3 {
	font-size: 26px;
	font-weight: bold;
	color:white;
}
.main__hot-offer--data{
	margin-top: 5px;
	margin-left: 20px;
	background-color:#29b6f6;
	color:white;
	border-radius: 50px;
	width:70px;
	height: 20px;
	font-size: 13px;
	text-align: center;
	line-height: 20px;
}
.main__hot-offer--slide-bottom p {
	color:#78909c;
	font-size: 16px;
}
.main__hot-offer--slide-bottom2{
	padding-top:20px;
	padding-left:30px;
	display: flex;
}
.main__hot-offer--slide-bottom2-price{
	display: block;
}
.main__hot-offer--slide-bottom2-dn{
	display: block;
	padding-left:60px;
}
.main__hot-offer--price {
	font-size: 18px;
	color: white;
	font-weight: bold;
}
.main__hot-offer--price b{
	font-size: 24px;
}
.main__hot-offer--day-night{
	font-size: 21px;
	font-weight: bold;
	color:white;
}
/*________МЕДИА_______*/
.main__social{
	background-color:#edf3f7;
	height: 450px;
}
.main__social-container{
	width:1110px;
	margin: 0 auto;
	padding-top:70px;
}
.main__social-blocks{
	display:flex;
	justify-content: space-between;
}
.main__social--block{
	width:540px;
	height: 220px;
	background-color:#ffffff;
	display: flex;
}
.main__social--block-img{
	width: 140px;
	height: 140px;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
}
.main__social-img{
	position: relative;
}
.main__social--block-text{
	margin-top: 40px;
	width: 310px;
}
.main__social--block-text h3{
	font-size:24px;
	margin-bottom: 12px;
}
.main__social--block-text p{
	font-size:16px;
	color:#687379;
	margin-bottom: 12px;
}
.main__social--block-text a{
	font-size:16px;
	color:#46c0f7;
	border-bottom:1px solid #46c0f7;
}
.main__social--sub-form{
	display:flex;
}
.main__social--sub-form #mail{
	font-size: 14px;
	color:#8e8e8e;
	padding:0px 20px;
	width: 285px;
	height: 50px;
	border:2px solid #f0f0f0;
	outline:none;
}
.main__social--sub-form #submit{
	position: relative;
	left:-25px;
	top:6px;
	width: 50px;
	height: 40px;
	border-radius:50px;
	background: #46c0f7 url(img/strelka-sub.svg) center no-repeat;
	border:none;
	outline:none;
	cursor:pointer;
}
.main__social--partners{
	padding-top: 70px;
	display: flex;
	justify-content: space-between;
}
.main__social--partners p{
	width:130px;
	color:#7d8a90;
	font-size: 18px;
	margin-right: 130px;
}
.main__social--slider{
	width: 880px;
}
.main__social--slide{
	width: 200px !important;
	height: 60px;
}

/*________FOOTER_______*/
footer{
	height: 420px;
	background-color:#ffffff;
}
/*________FOOTER_MOBILE_______*/
hr.footer__hr--mobile {
	display: none;
}
.footer__container--mobile{
	display: none;
}
.footer__social-list--mobile{
	display: none;
}
.footer__social-list--mobile li:last-child{
	margin-right: 0px;
}

.footer__container{
	width:1110px;
	margin: 0 auto;
}
/*________FOOTER_CH1_______*/
.footer__top{
	padding-top: 60px; /*_______________________________*/
	display: flex;
	height: 200px;
}
.footer__top ul{
	list-style: none;
	margin-right: 120px;
}
.footer__top ul li{
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 12px;
}
.footer__top ul li a{
	color:#56677d;
}
.footer__top ul li.footer__ul--top{
	font-size: 18px;
	font-weight: bold;
	color:black;
	margin-bottom: 20px;
}
.footer__number{
	position: relative;
	top:auto;
	left:10px;
	font-size:22px;
	margin-bottom: 15px;
}
.footer__button-call a{
	position: absolute;
	top:auto;
	left:auto;
}
.footer__address{
	position: relative;
	top:58px;
	left:auto;
	line-height: 30px;
}

footer > hr {
	border:none;
	background-color:#edf3f6;
	height: 1px;
}
/*________FOOTER_CH2_______*/
.footer__bottom{
	padding-top: 30px;
	display: flex;
	height: 130px;
	justify-content: space-between;
}
.footer__bottom h2{
	color:#838383;
	font-size: 23px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 1.5px;
}
.footer__bottom h2{
	color:#838383;
	font-size: 23px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 1.5px;
}
.footer__logo p{
	font-size: 16px;
	color:#9baabc;
	padding-top: 5px;
	font-weight: 400;
}
.footer__social{
	display:flex;
}
.footer__social p{
	font-size: 16px;
	color:#9baabc;
	font-weight: 400;
}
.footer__social h3{
	font-size: 16px;
	font-weight: 500;
	text-align: right;
}
ul.footer__social-list{
	position: relative;
	left:auto;
	top:auto;
	margin-left: 45px;
}
.footer__social-list li{
	margin-right:0px;
	margin-left:10px;
}
/*|||______MOBILE_VERSION_____|||*/
@media screen and ( max-width: 767px) {
	body{
		min-width: 320px;
		overflow-x: hidden;
	}
	.top__container {
	    background: url(img/top_slide-min.jpg) no-repeat;
	    max-width: 100%;
	    height:568px;
	    background-size: cover;
	    background-position-y:center;
		background-position-x:22%;
	}
	.header__container{
		padding: 25px 20px;
	}
	.header__container-logo--text{
		display:none;
	}
	.header__container-menu--proposals{
		display: none;
	}
	.header__container-menu--contacts{
		display:none;
	}
	.top__description{
		padding-top:90px;
		width:80%;
		margin: 5px auto;
		text-align: center;
	}
	.top__description--title h1{
		font-size: 52px;
		font-weight: 400;
	}
	.top__description--text p{
		font-size: 18px;
	}
	.top__end {
		width: 100%
		background: url(img/top_end.png) top repeat;
		background-size: cover;
		height: 60px;
		margin-top:-130px;
	}
	.main__container {
		background-color:#263238;
		text-align: center;
	}
	.main__search {
		padding-top:30px;
		margin: 0 auto;
		width:80%;
		height: 100px;
		padding-bottom: 50px;
	}
	.main__search--text {
		font-size: 26px;
		font-weight: 400;
		color:white;
		display:inline-block;
	}
	.main__search--lineup{
		display:inline-block;
	}
	.main__search--button-more {
		display: none;
	}
	.main__searchContainer-select {
		display:none;
	}
	.main__direction{
		width: 100%;
		margin: 0 auto;
	}
	.main__searchContainer--link{
		display: none;
	}
	.main__searchContainer label{
		display: none;
	}
	.main__direction-container {
		display:flex;
		flex-flow: wrap;
		margin-bottom: 0px;
	}
	main{
		height: 3975px;
	}
	.main__direction--all{
		width:100%;
		height: 180px;
		margin-right: 0px;
		margin-bottom:0px;
	}
	.main__direction--all::before{
		width:100%;
		height: 180px;
		margin-right: 0px;
		left:0;
		margin-bottom:0px;
	}
	.main__direction--all  h2,p{
		text-align: center;
		padding-left:0px;
		position: relative;
	}
	.main__direction--all h2{
		font-size: 32px;
		font-weight: bold;
		padding-top:40px; 
	}
	.main__direction--all p{
		font-size: 16px;
		font-weight: 400;
		padding-top:5px;
	}
	.main__direction--first{
		order:0;
	}
	.main__direction--second{
		order:1;
	}
	.main__direction--third{
		order:2;
	}
	.main__direction--four{
		order:3;
	}
	.main__direction-container--dop {
		order:4;
	}
	.main__direction-container--dop > div.main__direction--all{
		position:static;
	}
	.main__direction-container > div.main__direction--all{
		position:static;
	}
	.main__direction--dopFirst{
		width: 100%;
	}
	.main__direction-container--dop
	{
		width: 100%;
	}
	.main__type-news-container{
		background-size: cover;
		height: 720px;
	}
	.main__direction--type{
		flex-wrap: wrap;
		width: 100%;
	}
	.main__direction--type li{
		text-align: left;
		padding-left: 36%;
		margin: 0 auto;
		width: 100%;
		padding-top:25px;
		padding-bottom:25px;
		border-bottom:1px solid #d6e3e9;
	} 
	.main__direction--type a {
		white-space: normal;
		font-size: 16px;
		font-weight: 600;
		color:#323232;
		border-bottom:1px solid #bec3c6;
	}
	.main__direction--type li a::before{
		content: '';
		background: url(img/type-vacation.svg) no-repeat;
		background-size: cover;
		width: 50px;
		height: 40px;
		position: absolute;
		left:-50px;
		top:-10px;
	}
	.main__direction--type li::before{
		display:none;
	}
	li > a{
		position: relative;
	}
	.main__direction--type li:nth-child(2) a::before{
		background-position-x:35%;	
	}
	.main__direction--type li:nth-child(3) a::before{
		background-position-x:70%;	
	}
	.main__direction--type li:nth-child(4) a::before{
		background-position-x:104%;	
	}
	
	.main__news{
		width: 100%;
		overflow: hidden;
	}
	.main__news-container{
		margin-left: 5%;
	}
	.main__news-head{
		display:flex;
		justify-content: space-between;
	}
	.main__news-head-container{
		display:flex;
	}
	.main__news-head-container h1{
		font-size: 28px;
	}
	.main__news-swiper--but{
		display:none;
	}
	.main__news-swiper--all{
		display: none;
	}
	.main__news--slider{
		width: 1110px;
	}
	div.main__news--slider{
		padding-bottom: 0px;
	}
	div.main__news--slide{ 
		text-align: left;
		width: 270px !important;
		height: 245px;
	}
	.main__news--slide-img{
		width: 270px;
		height: 110px;
	}
	.main__news--slide-data{
		margin-left:30px;
		margin-top:20px;
	}
	.main__news--slide h4{
		width:90%;
		margin-left:30px;
		margin-top:60px;
		font-size: 15px;
	}
	.main__news--slide p{
		text-align: left;
		width: 85%;
		padding-left:30px;
		margin-top:110px;
		font-size: 14px;
	}
	.main__bonus-program{
		overflow: hidden;
	}
	.main__bonus-program::before{
		background-attachment: fixed;
		background-position-x:70%;
		background-position-y:top;
		width: 100%;
		height: 486px;
	}
	.main__bonus-program-container{
		width: 85%;
		margin: 0 auto;
		height:486px;
		display:block;
		text-align: center;
	}
	.main__bonus-program--description{
		padding-top:50px; 
		width:auto;
		height: auto;
	}
	.main__bonus-program--description h2{
		font-size:28px;
	}
	.main__bonus-program--description p{
		width:auto;
		font-size:16px;
	}
	.main__bonus-program--hr{
		margin:25px auto;
	}
	.main__bonus-program--button{
		position: relative;
		top:170px;
		padding:13px 55px 13px 35px;
	}
	.main__bonus-program--button::after{
		width: 7px;
		height: 10px;
		right:20px;
		top:19px;
	}
	.main__bonus-program--number{
		background-position-x:70%;
		background-position-y:top;
	  	background-size: cover;
	}
	.main__bonus-program--amount{
		padding-top:0px; 
		width:auto;
		height: auto;
	}
	.main__bonus-program--amount p{
		font-size: 12px;
		padding-left:0;
	}
	.main__bonus-program h1{
		letter-spacing: -2px;
		font-size: 75px;
	}
	.main__russian-place{
		background:url(img/background-type.png) top no-repeat;
		width:100%;
		height: 820px;
		background-size: cover;
		overflow: hidden;
	}
	.main__russian-place-container{
		width: 100%;
		margin-left: 5%;
		height:820px;
	}
	.main__russian-place--head{
		text-align: left;
		margin-top: 50px;
	}
	.main__russian-place--head h1{
		font-size: 28px;
		width:90%;
	}
	.main__russian-place--buttons{
		display: none;
	}
	.main__russian-place-container p{
		width:80%;
		padding-top:15px;
		font-size: 16px;
		text-align: left;
	}
	.main__russian-place--slider{
		margin-top:30px;
		width: 1110px;
		overflow:hidden !important;
	}
	.main__russian-place--slide{
		width:270px !important;
		height: 340px !important;
		text-align: left;
	}
	.main__russian-place--slide-img{
		width: 270px;
		height: 340px;
	}
	.main__russian-place--white-box{
		position:absolute;
		z-index: 1;
		width: 100%;
		height: 30%;
		background-color: white;
		bottom:0;
		transition-duration: 1s;
	}
	.main__russian-place--slide h3{
		margin-top:40px;
		padding-left:30px;
		padding-top:50px;
		font-size: 24px;
	}
	.main__russian-place--slide p{
		padding-left:30px;
		padding-top:0px;
		padding-bottom:0px;
		font-size: 16px;
	}

	.main__functions-rusplace-container{
		margin-top:60px;
		text-align: left;
	}
	.main__functions-rusplace-container h1{
		font-size: 24px;
		width:80%;
	}
	.main__functions-rusplace--blocks {
		display: none;
	}
	.main__functions-rusplace-button{
		text-align: left;
	}
	.main__functions-rusplace--button{
		margin-top:25px;
		width: 175px;
		height: 45px;
		font-size: 15px;
	}

	.main__hot-offer{
		height: 540px;
		overflow: hidden;
	}
	.main__hot-offer-container {
		width:100%;
		height:540px;
		text-align: left;
		margin-left:5%;
	}
	.main__hot-offer-head{
		margin-top:50px;
	}
	.main__hot-offer-head h1{
		font-size: 28px;
	}
	.main__hot-offer-head-container--buttons{
		display: none;
	}
	.main__hot-offer-swiper--all{
		display: none;
	}
	.main__hot-offer--slider{
		margin-top:30px;
		overflow:hidden !important;
		width: 1110px;
	}
	.main__hot-offer--slide{
		width: 270px !important;
		height: 320px;
	}
	.main__hot-offer--slide-img{
		width: 270px;
		height: 175px;
	}
	.main__hot-offer--hot-price{
		top:18px;
	}
	.main__hot-offer--slide-bottom{
		height: 150px;
	}
	.main__hot-offer--slide-bottom1{
		padding-top:20px;
		padding-left:20px;
		padding-bottom:15px;
	}
	.main__hot-offer--slide-bottom1 h3 {
		font-size: 24px;
	}
	.main__hot-offer--data{
		margin-top: 5px;
		margin-left: 10px;
	}
	.main__hot-offer--slide-bottom p {
		font-size: 14px;
		text-align: left;
	}
	.main__hot-offer--slide-bottom2{
		padding-top:15px;
		padding-left:20px;
	}
	.main__hot-offer--slide-bottom2-dn{
		padding-left:40px;
	}
	.main__hot-offer--price {
		font-size: 14px;
	}
	.main__hot-offer--price b{
		font-size: 18px;
	}
	.main__hot-offer--day-night{
		font-size: 18px;
	}

	.main__russian-place--slide:hover .main__russian-place--slide-bottom{
		background-position-y:-40%;
	}
	.main__russian-place--slide:hover h3{
		color:black;
	}
	.main__russian-place--slide:hover .main__russian-place--white-box{
		height: 30%;
	}
	.main__direction--type a:hover{
		border-bottom:1px solid #bec3c6;
		filter:brightness(1);
	}
	
/*___________________________________________________*/
	.menu {
		width:100%;
		height:100%;
	}
	.menu__container{
		height:820px;
	}
	.menu__container--button-close {
		width: 65px;
		height: 65px;
	}
	.menu__container--search{
		height: 65px;
	}
	input[name="search-menu"] {
		display:none;
	}
	input[type=image] {
		display: none
	}
	ul.menu__container--list{
		top:65px;
		width: 100%;
	}
	.menu__container--list li{
		top:65px;
		width: 100%;
	}
	.menu__container--list li:first-child{
		border-top: 1px solid #f1f1f1;
	}
	.menu__container--list li::after{
		top:35px;
		left:270px;
	}
	.menu__container--list li:nth-child(5):after{
		top:340px;
	}
	.menu__container--list li:hover{
		background: none;
		border-bottom: 1px solid #f1f1f1;
	}
	.menu__container--list a{
		display: block; 
		height: 75px;
		width:100%;
	}
	.menu__container--list a > p{
		font-size:21px;
		left:30px;
	}
	.menu__container--number{
		top:560px;
		left:35px;
	}
	.menu__container--button-call a{
		top:605px; 
		left:27px;
	}
	.menu__container--button-call a:hover {
		border:1px solid #29b6f6;
		background: none;
		color:#29b6f6;
	}
	.menu__container--address{
		left:27px;
		top:665px;
	}
	ul.menu__container--list1{
		left:27px;
		top:735px;
	}
	.menu__container--list1 li:first-child:hover a{
		background:#eceff1;
	}
	.menu__container--list1 li:nth-child(2):hover a{
		background:#eceff1;
	}
	.menu__container--list1 li:nth-child(3):hover a{
		background:#eceff1;
	}
	.menu__container--list1 li:last-child:hover a{
		background:#eceff1;
	}
	.menu__container--list1 li:hover path{
		fill:#a4b3bb;
	}
/*___________________________________________________*/

	.main__social{
		height: 150px;
	}
	.main__social-container{
		margin-left: 5%;
		width:100%;
		padding-top:35px;
	}
	.main__social-blocks{
		display:none;
	}
	.main__social--partners{
		padding-top: 0px;
		display: block;
	}
	.main__social--partners p{
		width:auto;
		text-align: left;
		font-size: 18px;
		margin-right: 0px;
	}
	.main__social--slider{
		overflow:hidden !important;
		width: 100%;
	}
	.main__social--slide{
		padding-top: 25px;
		width: auto !important;
		height: 60px;
	}

	footer{
		height: 400px;
		background-color:#ffffff;
	}
	hr.footer__hr--mobile {
		display: block;
	}
	.footer__container--mobile{
		display: block;
		height: 110px;
		width: 100%;
		margin: 0  auto;
		text-align: center;
	}
	ul.footer__social-list--mobile{
		padding-top: 30px;
		display: flex;
		position: relative;
		left:auto;
		top:auto;
		display: inline-block;
	}
	.footer__social-list--mobile li {
		float:left;
	}
	.footer__social-list--mobile li a{
		width: 50px;
		height: 50px;
	}
	.footer__container{
		width:100%;
	}
	.footer__top{
		padding-top: 30px; /*_______________________________*/
		justify-content: center;
		height: 200px;
	}
	.footer__top ul{
		display: none;
	}
	.footer__info{
		text-align: center;
	}
	.footer__number{
		position: relative;
		top:auto;
		left:auto;
		font-size:32px;
		margin-bottom: 15px;
	}
	.footer__button-call{
		margin-top:20px;
		margin-bottom: 30px;
	}
	.footer__button-call a{
		position: relative;
		padding:10px 50px;
		top: auto;
		left:auto;
		display: inline;
	}
	.footer__address{
		position: relative;
		top:auto;
		left:auto;
		line-height: 25px;
	}

	footer > hr {
		border:none;
		background-color:#edf3f6;
		height: 1px;
	}

	.footer__bottom{
		padding-top: 20px;
		display: flex;
		height: 80px;
		justify-content: center;
	}
	.footer__bottom h2{
		display: none;
	}
	.footer__logo p{
		display: none;
	}
	.footer__social{
		display: block;
	}
	.footer__social p{
		font-size: 15px;
	}
	.footer__social h3{
		font-size: 15px;
		text-align: center;
	}
	ul.footer__social-list{
		display: none;
	}
}
/*|||_______TABLET______|||*/
@media screen and (min-width:768px) and (max-width: 1199px) {
	body{
		min-width: 768px;
		overflow-x: hidden !important;
	}
	.top__container {
	    background: url(img/top_slide-min.jpg) no-repeat;
	    max-width: 100%;
	    height:568px;
	    background-size: 200%;
	    background-position-y:top;
		background-position-x:65%;
	}
	.header__container{
		padding: 25px 25px;
	}
	.header__container-menu--proposals{
		display: none;
	}
	.header__container-menu--contacts{
		display:none;
	}
	.top__description{
		padding-top:125px;
		width:95%;
		margin: 5px auto;
	}
	.top__description--title h1{
		font-size: 80px;
	}
	.top__description--text p{
		font-size: 21px;
	}
	.top__description :nth-child(2){
		padding-bottom: 20px;
	}
	.top__end {
		width: 100%
		background: url(img/top_end.png) top repeat;
		background-size: cover;
		height: 60px;
		margin-top:-190px;
	}
	.main__container {
		text-align: center;
	}
	.main__search {
		padding-top:0px;
		margin: 0 auto;
		width: 95%;
		height: 100px;
		padding-bottom: 50px;
	}
	.main__search--text {
		display:none;
	}
	.main__search--button-more {
		display: none;
	}
	.main__searchContainer-select--firstSelect {
		display:none;
	}
	.main__searchContainer-label--secondSelect{
		display:none;
	}
	.main__searchContainer label:first-child{
		display: none;
	}
	.main__searchContainer-select--secondSelect{
		display: none;
	}
	.main__direction{
		width: 100%;
		margin: 0 auto;
	}
	.main__direction-container {
		display:flex;
		flex-flow: wrap;
		margin-bottom: 0px;
	}
	.main__direction--all{
		width:100%;
		height: 280px;
		margin-right: 0px;
		margin-bottom:0px;
	}
	.main__direction--all::before{
		width:100%;
		height: 280px;
		margin-right: 0px;
		left:0;
		margin-bottom:0px;
	}
	.main__direction--all h2,p{
		padding-left:0px;
		position: relative;
	}
	.main__direction--all h2{
		font-size: 32px;
		font-weight: bold;
		padding-top:100px; 
	}
	.main__direction--all p{
		font-size: 16px;
		font-weight: 400;
		padding-top:5px;
	}
	.main__direction--all::before{
		background-size:100%;
	}
	.main__direction--first{
		order:0;
	}
	.main__direction--second{
		order:1;
	}
	.main__direction--third{
		order:2;
	}
	.main__direction--four{
		order:3;
	}
	.main__direction-container--dop {
		order:4;
	}
	.main__direction-container--dop > div.main__direction--all{
		position:static;
	}
	.main__direction-container > div.main__direction--all{
		position:static;
	}
	.main__direction--dopFirst{
		width: 100%;
	}
	.main__direction-container--dop
	{
		width: 100%;
	}
	.main__type-news-container{
		background-size: cover;
		height: 640px;
	}
	.main__direction--type{
		flex-wrap: wrap;
		width: 100%;
	}
	.main__direction--type li{
		display: inline-flex;
		text-align: left;
		padding-left: 10%;
		width: 39.8%;
		margin:0;
		padding-top:25px;
		padding-bottom:25px;
		border-bottom:1px solid #d6e3e9;
		border-right:1px solid #d6e3e9;
	} 
	.main__direction--type a{
		white-space: normal;
		font-size: 16px;
		font-weight: 600;
		color:#323232;
		border-bottom:1px solid #bec3c6;
	}
	.main__direction--type li a::before{
		content: '';
		background: url(img/type-vacation.svg) no-repeat;
		background-size: cover;
		width: 50px;
		height: 40px;
		position: absolute;
		left:-50px;
		top:-10px;
	}
	.main__direction--type li::before{
		display:none;
	}
	li > a{
		position: relative;
	}
	.main__direction--type li:nth-child(2) a::before{
		background-position-x:35%;	
	}
	.main__direction--type li:nth-child(3) a::before{
		background-position-x:70%;	
	}
	.main__direction--type li:nth-child(4) a::before{
		background-position-x:104%;	
	}

	.main__news{
		width: 100%;
		overflow: hidden;
	}
	.main__news-container{
		padding:25px;
	}
	.main__news-head{
		display:flex;
		justify-content: space-between;
	}
	.main__news-head-container{
		display:flex;
	}
	.main__news-head-container h1{
		font-size: 32px;
	}
	.main__news-head-container--buttons{
		margin-top:10px;
	}
	.main__news-swiper--all{
		display: none;
	}
	.main__news--slider{
		width: 1110px;
	}
	div.main__news--slider{
		padding-bottom: 0px;
	}
	div.main__news--slide{
		width: 330px !important; 
		height: 305px;
	}
	.main__news--slide-img{
		width: 330px;
		height: 140px;
	}
	.main__news--slide-data{
		margin-left:-140px;
		margin-top:20px;
	}
	.main__news--slide h4{
		text-align: left;
		width:270px;
		margin-left:40px;
		margin-top:60px;
		font-size: 17px;
	}
	.main__news--slide p{ /*----------------------------*/
		text-align: left;
		margin-top:120px;
		font-size: 15px;
	}
	.main__bonus-program::before{
		background-attachment: fixed;
		background-position-x:50%;
		background-position-y:top;
		width: 100%;
		height: 465px;
	}
	.main__bonus-program-container{
		width: 80%;
		margin: 0 auto;
		height:465px;
		display:block;
		text-align: center;
	}
	.main__bonus-program--description{
		padding-top:50px; 
		width:auto;
		height: auto;
	}
	.main__bonus-program--description p{
		width:80%;
		margin: 0 auto;
		font-size:16px;
	}
	.main__bonus-program--hr{
		margin:15px auto;
	}
	.main__bonus-program--button{
		position: relative;
		top:190px;
		padding:13px 55px 13px 35px;
	}
	.main__bonus-program--button::after{
		width: 7px;
		height: 10px;
		right:20px;
		top:19px;
	}
	.main__bonus-program--number{
		background-position-x:50%;
		background-position-y:top;
	  	background-size: cover;
	}
	.main__bonus-program--amount{
		padding-top:0px; 
		width:auto;
		height: auto;
	}
	.main__bonus-program--amount p{
		font-size: 12px;
		padding-left:0;
	}
	.main__bonus-program h1{
		letter-spacing: -2px;
		font-size: 90px;
	}
	.main__direction--type a:hover{
		border-bottom:1px solid #bec3c6;
		filter:brightness(1);
	}



	.main__russian-place{
		background:url(img/background-type.png) top no-repeat;
		width:100%;
		height: 1385px;
		background-size: cover;
		overflow: hidden;
	}
	.main__russian-place-container{
		padding:25px;
		width: 100%;
		height:1385px;
	}
	.main__russian-place--head{
		text-align: left;
		margin-top: 25px;
	}
	.main__russian-place--head h1{
		font-size: 32px;
		width:auto;
	}
	.main__russian-place--buttons{
		margin-left:25px;
	}
	.main__russian-place-container p{
		width:auto;
		padding-top:10px;
		font-size: 16px;
		text-align: left;
	}
	.main__russian-place--slider{
		margin-top:35px;
		width: 100%;
		overflow:hidden !important;
	}
	.main__russian-place--slide{
		width:330px !important;
		height: 395px !important;
		text-align: left;
	}
	.main__russian-place--slide-img{
		width: 330px;
		height: 395px;
	}
	.main__russian-place--white-box{
		height: 28%;
	}
	.main__russian-place--slide h3{
		margin-top:40px;/*/*/
		padding-left:40px;
		padding-top:70px;/*/*/
		font-size: 26px;
	}
	.main__russian-place--slide p{
		padding-left:40px;
		padding-top:0px;/*/*/
		padding-bottom:0px;/*/*/
		font-size: 16px;
	}

	.main__functions-rusplace-container{
		margin-top:60px;
		text-align: left;
	}
	.main__functions-rusplace-container h1{
		font-size: 32px;
		margin-left:5px;
		width:auto;
	}
	.main__functions-rusplace-container p{
		margin-left:5px;
	}
	.main__functions-rusplace--blocks {
		width:100%;
		display: block;
		margin-top: 40px;
	}
	.main__functions-rusplace--block{
		width:95%;
		height: 165px;
		margin-right:0px;
		margin-bottom: 20px;
	}
	.main__functions-rusplace--block-inside{
		width:auto;
		display:flex;
		height: auto;
		margin-top: 0px;
		margin-left:0px;
		padding-top:50px;
		padding-left:40px;
	}
	.main__functions-rusplace--block-svg1{
		width: 65px;
		height: 64px;
	}
	.main__functions-rusplace--block-svg2{
		padding-left:7px;
		width: 50px;
		height: 58px;
	}
	.main__functions-rusplace--block-svg3{
		padding-left:4px;
		width: 60px;
		height: 46px;
	}
	.main__functions-rusplace--block-text{
		width: 70%;
		display:block;
		padding-top:0px;
		padding-left:40px;
	}
	.main__functions-rusplace--block h3{
		padding-top:0px;
		font-size: 22px;
	}
	.main__functions-rusplace--block p{
		padding-top:10px;
		margin:0px;
		font-size: 16px;
	}
	.main__functions-rusplace-button{
		text-align: left;
	}
	.main__functions-rusplace--button{
		margin-top:10px;
		width: 180px;
		height: 50px;
		font-size: 18px;
		margin-bottom: 0px;
	}

	.main__hot-offer{
		height: 660px;
		overflow: hidden;
	}
	.main__hot-offer-container {
		width:100%;
		height:660px;
		text-align: left;
		margin-left:0px;
		padding:25px;
	}
	.main__hot-offer-head{
		margin-top:70px;
	}
	.main__hot-offer-head h1{
		font-size: 32px;
	}
	.main__hot-offer-swiper--all{
		display: none;
	}
	.main__hot-offer--slider{
		margin-top:40px;
		overflow:hidden !important;
		width: 1110px;
	}
	.main__hot-offer--slide{
		width: 330px !important;
		height: 390px !important;
	}
	.main__hot-offer--slide-img{
		width: 330px;
		height: 218px;
	}
	.main__hot-offer--slide-img1{
		background:url(img/nachanga.jpg) center no-repeat;
		background-size: cover;
	}
	.main__hot-offer--slide-img2{
		background:url(img/dybai.jpg) center no-repeat;
		background-size: cover;
	}
	.main__hot-offer--slide-img3{
		background:url(img/sania.jpg) center no-repeat;
		background-size: cover;
	}
	.main__hot-offer--hot-price{
		top:20px;
		right: 20px;
	}
	.main__hot-offer--slide-bottom{
		height: 173px;
	}
	.main__hot-offer--slide-bottom1{
		padding-top:20px;
		padding-left:30px;
		padding-bottom:15px;
	}
	.main__hot-offer--slide-bottom1 h3 {
		font-size: 28px;
	}
	.main__hot-offer--data{
		margin-top: 5px;
		margin-left: 10px;
	}
	.main__hot-offer--slide-bottom p {
		font-size: 16px;
		text-align: left;
	}
	.main__hot-offer--slide-bottom2{
		padding-top:20px;
		padding-left:30px;
	}
	.main__hot-offer--slide-bottom2-dn{
		padding-left:70px;
	}
	.main__hot-offer--price {
		font-size: 16px;
	}
	.main__hot-offer--price b{
		font-size: 18px;
	}
	.main__hot-offer--day-night{
		font-size: 18px;
	}

	main{
		height: 5160px;
	}

	.main__social{
		height: auto;
	}
	.main__social-container{
		width:100%;
		padding:40px 25px;
	}
	.main__social-blocks{
		display:none;
	}
	.main__social--partners{
		padding-top: 0px;
		display: block;
	}
	.main__social--partners p{
		width:auto;
		text-align: left;
		font-size: 18px;
		margin-right: 0px;
	}
	.main__social--slider{
		overflow:hidden !important;
		width: 100%;
	}
	.main__social--slide{
		padding-top: 30px;
		width: auto !important;
		height: 60px;
	}

	footer{
		height: 390px;
	}
	hr.footer__hr--mobile {
		display: block;
	}
	.footer__container--mobile{
		display: block;
		padding:30px 25px;
		width: auto;
	}
	ul.footer__social-list--mobile{
		display: flex;
		position: relative;
		left:auto;
		top:auto;
		justify-content: center
	}
	.footer__social-list--mobile li {
		float:left;
	}
	.footer__social-list--mobile li a{
		width: 50px;
		height: 50px;
	}
	.footer__container{
		width:auto;
	}
	.footer__top{
		justify-content: center;
		padding: 40px 0;
		height: auto;
	}
	.footer__top ul{
		display: none;
	}
	.footer__info{
		text-align: center;
	}
	.footer__number{
		position: relative;
		top:auto;
		left:auto;
		font-size:32px;
		margin-bottom: 15px;
	}
	.footer__button-call{

	}
	.footer__button-call a{
		position: relative;
		padding:18px 50px;
		top: auto;
		left:auto;
		display: inline-block;
	}
	.footer__address{
		display: none;
	}

	.footer__bottom{
		padding-top: 20px;
		display: flex;
		height: 70px;
		justify-content: center;
	}
	.footer__bottom h2{
		display: none;
	}
	.footer__logo p{
		display: none;
	}
	.footer__social{
		display: block;
	}
	.footer__social p{
		font-size: 15px;
	}
	.footer__social h3{
		font-size: 15px;
		text-align: center;
	}
	ul.footer__social-list{
		display: none;
	}
}























@font-face {
    font-family: GothamPro;
    src: url(fonts/GothamPro.ttf);
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-LightIt.eot');
    src: local('Proxima Nova Light Italic'), local('ProximaNova-LightIt'),
    url('fonts/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNova-LightIt.woff') format('woff'),
    url('fonts/ProximaNova-LightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-Extrabld.eot');
    src: local('Proxima Nova Extrabold'), local('ProximaNova-Extrabld'),
    url('fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNova-Extrabld.woff') format('woff'),
    url('fonts/ProximaNova-Extrabld.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-Regular.eot');
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
    url('fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNova-Regular.woff') format('woff'),
    url('fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-Semibold.eot');
    src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
    url('fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNova-Semibold.woff') format('woff'),
    url('fonts/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-ThinIt.eot');
    src: local('Proxima Nova Thin Italic'), local('ProximaNova-ThinIt'),
    url('fonts/ProximaNova-ThinIt.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNova-ThinIt.woff') format('woff'),
    url('fonts/ProximaNova-ThinIt.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-SemiboldIt.eot');
    src: local('Proxima Nova Semibold Italic'), local('ProximaNova-SemiboldIt'),
    url('fonts/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNova-SemiboldIt.woff') format('woff'),
    url('fonts/ProximaNova-SemiboldIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-RegularIt.eot');
    src: local('Proxima Nova Regular Italic'), local('ProximaNova-RegularIt'),
    url('fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNova-RegularIt.woff') format('woff'),
    url('fonts/ProximaNova-RegularIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-Black.eot');
    src: local('Proxima Nova Black'), local('ProximaNova-Black'),
    url('fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNova-Black.woff') format('woff'),
    url('fonts/ProximaNova-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-Bold.eot');
    src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
    url('fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNova-Bold.woff') format('woff'),
    url('fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNovaT-Thin.eot');
    src: local('Proxima Nova Thin'), local('ProximaNovaT-Thin'),
    url('fonts/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNovaT-Thin.woff') format('woff'),
    url('fonts/ProximaNovaT-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-BoldIt.eot');
    src: local('Proxima Nova Bold Italic'), local('ProximaNova-BoldIt'),
    url('fonts/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNova-BoldIt.woff') format('woff'),
    url('fonts/ProximaNova-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-ExtrabldIt.eot');
    src: local('Proxima Nova Extrabold Italic'), local('ProximaNova-ExtrabldIt'),
    url('fonts/ProximaNova-ExtrabldIt.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNova-ExtrabldIt.woff') format('woff'),
    url('fonts/ProximaNova-ExtrabldIt.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-Light.eot');
    src: local('Proxima Nova Light'), local('ProximaNova-Light'),
    url('fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNova-Light.woff') format('woff'),
    url('fonts/ProximaNova-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-BlackIt.eot');
    src: local('Proxima Nova Black Italic'), local('ProximaNova-BlackIt'),
    url('fonts/ProximaNova-BlackIt.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNova-BlackIt.woff') format('woff'),
    url('fonts/ProximaNova-BlackIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
